body {
    background-color: #aed0f2;
    color: #2A1E5C;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.content {
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    flex: 2;
    text-align: left;
    padding: 20px;
}

h1, h2, h3 {
    margin: 10px 0;
    /* Apply the new color to the heading titles */
    color: #6C091F; }

.center-text {
    text-align: center;
}

a {
    color: #2A1E5C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 20px;
}

.project-header {
    display: flex;
    align-items: center;
}

.project-header h3 {
    margin: 0;
    margin-right: 10px;
}

